name: CI Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
  workflow_dispatch:

env:
  JAVA_VERSION: '21'
  IMAGE_NAME: DOCKERHUB_USERNAME/Devop_Practice

jobs:

  maven-build-test:
    name: Maven Build and Test - Java 21
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-${{ runner.os }}-

      - name: Build and run tests
        run: mvn clean verify


  sonarcloud-scan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    needs: maven-build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Run SonarCloud analysis
        env:
          SONAR_TOKEN: ${6bd0d8aca125cd442bb7d5ef5340c01a73b307c0}
        run: |
