name: Java CI with Docker

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-and-test:
    name: Build & Test (Java 17)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build and Run Tests
        run: mvn -B clean verify


  sonarcloud-scan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: SonarCloud Analysis
        run: mvn -B sonar:sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: sonarcloud-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t minister2020/calculator-api:latest .


  docker-push:
    name: Docker Push
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: minister2020
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: docker push minister2020/calculator-api:latest
