name: Java CI with Docker

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  maven-build-test:
    name: Maven Build and Test - Java 17
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build and Test Application
        run: mvn -B clean verify

  sonarcloud-scan:
    name: SonarCloud Scan & Docker Build
    runs-on: ubuntu-latest
    needs: maven-build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build Application
        run: mvn -B clean package

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: minister2020
          password: dckr_pat_Z5qYPrWGUAxFqzc33AJ9HE7deL0

      - name: Build Docker Image
        run: docker build -t minister2020/calculator-api:latest .

      - name: Push Docker Image
        run: docker push minister2020/calculator-api:latest
